[submodule "AutoPubMonitor"]
	path = AutoPubMonitor
	url = https://github.com/lachlanchen/AutoPubMonitor.git
[submodule "LazyEdit"]
	path = LazyEdit
	url = https://github.com/lachlanchen/LazyEdit.git
[submodule "AutoPublish"]
	path = AutoPublish
	url = https://github.com/lachlanchen/AutoPublish.git
[submodule "whisper_with_lang_detect"]
	path = whisper_with_lang_detect
	url = https://github.com/lachlanchen/MultilingualWhisper.git
